# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Logs and checkpoints
logs/
checkpoints/

# Dataset
traffic_wala_dataset/

# Jupyter Notebook
.ipynb_checkpoints 